# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerized

**Objectives**
- List popular languages for data science 
- Simple arithmetic expressions 
- commonly used libraries by data Scientists
- Data Science tools

Some of the popular languages that Data scientists use are

1. Jupyter Notebook

2. Python

3. SQL(Structured Query Language)

4. Scala

5. R

Some of the commonly used libraries used by data Scientists include

1. Pandas
2. Matplotlib
3. Seaborn
4. Tensflow
5. Apache Spark
6. PyTorch
7. Keras

| Data Science Tools                 ||     
|--------------------|----------------|
| MATLAB             |                |
| EXCEL              |                |
| Tensflow           |                |
| Tableau            |                |

### Below are a few examples of evaluating arithmetic expressions in python

In [2]:
#simple arithmetic expression to multiply then add intergers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author

HANNIBAL KIMANI